.button-page1 {
    width: 100px;
    height: 50;
    border-radius: 16px;
    background-color: #4997E5;
    transition: background-color .2s;
    color: white;
    cursor: pointer;
    border: none;
}
option {
    background-color: #4997E5;
    color: #333;
}
select {
    background-color: #4997E5;
    color: white;
    border: none;
    border-radius: 30px;
}